:root {
  --color-light: #fff;
  --color-dark: #131619;
  --color-light-gray: #e8e8e8;
  --color-dark-gray: #555;

  --border-radius: 10px;
  --border: 1px solid var(--color-light);

  --font-family-base: 'Heebo', sans-serif;

  --button-height: 44px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-height: 90px;
}
