.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-block: 20px;
  min-height: var(--header-height);
}

.header-logo {
  color: var(--color-light);
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.03em;
  text-decoration: none;

  &:hover {
    color: var(--color-light);
    opacity: 0.7;
  }
}

@media (max-width: 520px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }
}
